@import 'tailwindcss/base';
/* @import './base/fonts.css'; */
/* @import './base/vars.css'; */
@import './base/variables.css';
@import './base/utilities.css';
@import './base/transitions.css';
@import './base/motion.css';

@import 'tailwindcss/components';

/* ** Oruga ** */

@import './components/autocomplete.css';
@import './components/button.css';
@import './components/checkbox.css';
@import './components/dropdown.css';
@import './components/field.css';
@import './components/radio.css';
@import './components/select.css';
@import './components/table.css';
@import './components/tabs.css';

/* ** ** */
@import './components/alert.css';
@import './components/box.css';
@import './components/calendar.css';
@import './components/card.css';
@import './components/carousel.css';
@import './components/chart.css';
@import './components/cookie-consent.css';
@import './components/cover_button.css';
@import './components/disclosure.css';
@import './components/duotone_card.css';
@import './components/fullcalendar.css';
@import './components/input.css';
@import './components/keyboard.css';
@import './components/loading.css';
@import './components/multiselect.css';
@import './components/progress-bar.css';
@import './components/skeleton.css';
@import './components/steps.css';
@import './components/switch.css';
@import './components/switcher.css';
@import './components/timeline.css';

@import 'tailwindcss/utilities';

@layer base {
  html {
    overflow-y: scroll;
  }

  body {
    @apply bg-white dark:bg-gray-900;
  }

  /* h1 {
    @apply mt-10 mb-8 text-4xl font-extrabold leading-none tracking-tight sm:text-6xl lg:text-7xl text-primary dark:text-primary-dark sm:mt-14 sm:mb-10;
  }

  h2 {
    @apply text-3xl text-primary dark:text-primary-dark;
  }

  h3 {
    @apply text-lg text-primary dark:text-primary-dark;
  } */
}
