@layer components {
  .button {
    @apply border font-medium rounded-md py-1 px-4 hover:bg-gray-100;
  }
  .button.is-primary {
    @apply bg-primary-500 text-white;
  }
  .button.is-success {
    @apply bg-green-500 text-white;
  }
  .button.is-warning {
    @apply bg-orange-500 text-white;
  }
  .button.is-danger {
    @apply bg-red-500 text-white;
  }
  .button.is-info {
    @apply bg-light-blue-500 text-white;
  }

  .button.is-rounded {
    @apply rounded-full;
  }

  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .buttons a:not(:last-of-type),
  .buttons button:not(:last-of-type) {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .btn {
    display: inline-block;
    color: #fff;
    background-color: #09848d;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    border-width: 2px;
    border-color: #09848d;
    letter-spacing: 0.2;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .btn:hover {
    background: rgba(37, 142, 149, 0.96);
    border-color: rgba(37, 142, 149, 0.96);
  }

  .btn:disabled {
    background-color: #127077;
    border-color: #127077;
    color: #9fc1c3;
  }

  .btn-outlined {
    display: inline-block;
    color: #09848d;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    position: relative;
    border-width: 2px;
    border-color: #09848d;
    letter-spacing: 0.2;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .btn-outlined:hover {
    color: #fff;
    background: rgba(37, 142, 149, 0.96);
    border-color: rgba(37, 142, 149, 0.96);
  }
}
