.card {
  background-color: #fff;
  box-shadow: 0 2px 3px hsla(0, 0%, 4%, 0.1), 0 0 0 1px hsla(0, 0%, 4%, 0.1);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}
.card-header {
  background-color: transparent;
  align-items: stretch;
  box-shadow: 0 1px 2px hsla(0, 0%, 4%, 0.1);
  display: flex;
}
.card-header-title {
  align-items: center;
  color: #363636;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem;
  margin: 0;
}
.card-header-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 0.75rem;
  justify-content: center;
}
.card-content {
  padding: 1.5rem;
  background-color: transparent;
}
