.code-block {
  display: none;
}

.code-block.active {
  display: block;
}

.highlight-underline {
  @apply bg-green-500 absolute;
  bottom: -2px;
  height: 2px;
  transition: left 150ms, width 150ms;
}

.code-group ::v-deep {
  & pre[class*="language-"] {
    @apply rounded-t-none mt-0;
  }
}

.codesandbox,
.codesandbox iframe {
  @apply w-full rounded-md overflow-hidden h-64;
  height: 500px;
}
