@layer base {
  .table thead {
    @apply bg-gray-50 dark:bg-gray-900;
  }

  .table.is-striped tbody tr:nth-child(2n) {
    @apply bg-gray-50;
  }

  .table.is-hoverable tbody tr {
    @apply hover:bg-gray-50;
  }

  .table.is-bordered th,
  .table.is-bordered td {
    @apply border border-gray-200;
  }

  .table th.is-centered,
  .table td.is-centered {
    @apply text-center;
  }

  :root {
    --oruga-table-narrow-padding: 0.25em 0.5em;
    --oruga-table-striped-background-color: #fafafa;

    /*
    --oruga-table-background-color
    --oruga-table-background
    --oruga-table-boder
    --oruga-table-border-radius
    --oruga-table-bordered-border-width
    --oruga-table-bordered-bottom-color
    --oruga-table-card-box-shadow
    --oruga-table-card-cell-font-weight
    --oruga-table-card-cell-padding
    --oruga-table-card-cell-text-align
    --oruga-table-card-detail-margin
    --oruga-table-card-margin
    --oruga-table-color
    --oruga-table-current-sort-border-color
    --oruga-table-current-sort-font-weight
    --oruga-table-current-sort-hover-border-color
    --oruga-table-detail-background
    --oruga-table-detail-box-shadow
    --oruga-table-detail-chevron-color
    --oruga-table-detail-chevron-width
    --oruga-table-detail-padding
    --oruga-table-focus-border-color
    --oruga-table-focus-box-shadow
    --oruga-table-hoverable-background-color
    --oruga-table-mobile-breakpoint
    --oruga-table-multi-column-reset-icon-margin

    --oruga-table-row-active-background-color
    --oruga-table-row-active-color
    --oruga-table-sticky-header-height
    --oruga-table-sticky-zindex
    --oruga-table-striped-background-color
    --oruga-table-td-border-color
    --oruga-table-td-border-style
    --oruga-table-td-border-width
    --oruga-table-td-padding
    --oruga-table-th-border-color
    --oruga-table-th-border-style
    --oruga-table-th-border-width
    --oruga-table-th-checkbox-width
    --oruga-table-th-color
    --oruga-table-th-detail-width
    --oruga-table-th-font-weight
    --oruga-table-th-padding
    --oruga-table-th-wrap-icon-margin */
  }
}
