.error {
    width: 100%;
    margin-top: .25rem;
    color: #e3342f;
    text-align: right;
    font-weight: 500;
    font-size: .875rem;
    color: tomato;
}

.loading-wrapper {
    margin-top: 4rem;
}

.loading-wrapper,
.loading-wrapper .loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.loading-wrapper .loader {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-width: 2px;
    border-color: #09848d;
    border-radius: .5rem;
    font-size: 1.25rem;
    color: #5c6162;
}

.loading-wrapper .loader p {
    margin-right: 1rem;
}

.info {
    margin-top: .25rem;
    color: #5c6162;
    text-align: right;
    font-weight: 500;
    font-size: .875rem;
}

a {
    color: #09848d;
    text-decoration: none;
}

a:not(.btn):hover {
    color: #127077;
    text-decoration: underline;
}
